* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Roboto', sans-serif;
}
body.page_home {
  background-color: white;
}
/* FORMULAIRE CONNEXION */
#form {
  margin: 10% 20% 0;
}
#info {
  margin: 0 20% 0;
}
#suite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* NAVIGATION */
#nav.nav {
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #30475e;
  position: fixed;
  text-align: center;
}
#nav.nav .navigate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#nav.nav .navigate span {
  cursor: pointer;
  color: white;
  padding: 5px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
#nav.nav .navigate span.active, #nav.nav .navigate span:hover {
  background-color: #2b4054;
}
.user i {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  color: #54e346;
}
#userConnected {
  overflow-wrap: break-word;
  color: white;
  display: block;
  max-width: 150px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#userConnected2 {
  font-style: italic;
  font-weight: 400;
}
#logout {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
#logout:hover {
  transform: translateY(-1px);
}
/* PAGE */
.wrapper {
  height: 100%;
  padding: 20px 20px 0 170px;
}
.jumbotron {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.nav .navigate .item {
  cursor: pointer;
}
.action { cursor: pointer; }
#trash { color: red; }
#edit { color: blue; }
.btn-new {
  position: absolute;
  top: 20px;
  right: 20px;
}